@use "./bloks/header";
@use "./bloks/hero";
@use "./bloks/card";
@use "./bloks/some";
@use "./bloks/ready";
@use "./bloks/footer";

@font-face {
  font-family: Livvic;
  src: url("../fonts/Livvic/Livvic-Regular.ttf");
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
