header {
  background-color: #014e56;
  .header__section {
    padding-top: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      display: none;
    }
    .header__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      a {
        font-family: Livvic;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: #ffffff;
      }
      button {
        padding: 10px 33px;
        border: 2px solid #ffffff;
        font-family: Livvic;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: #fff;
        background: transparent;
        border-radius: 24px;
      }
      button:hover {
        background-color: #fff;
        border: 2px solid #014e56;
        transition: all 0.2s linear;
        color: #014e56;
      }
      button:active {
        scale: 0.9;
      }
    }
  }
  .media {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    background-color: #394749;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #001;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    a {
      font-family: Livvic;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      color: #fff !important;
    }
    button {
      padding: 10px 33px;
      border: 2px solid #ffffff;
      font-family: Livvic;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      color: #fff;
      background: transparent;
      border-radius: 24px;
    }
    button:hover {
      background-color: #fff;
      border: 2px solid #014e56;
      transition: all 0.2s linear;
      color: #014e56;
    }
    button:active {
      scale: 0.9;
    }
  }
}

// RESPANSIVE

@media (max-width: 575px) {
  .menu {
    display: block !important;
  }
  .header__link {
    display: none !important;
  }
  .media {
    display: flex;
  }
}
